*{
    
    
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #006699;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #000;
   
}

#passwordDisplay{
    background-color: #fff;
    color: #000;
    font-weight: bold;
    padding: 1rem;
    border-radius: 3px;
    word-break: break-all;

}
.input{
    display: flex;
    justify-content: space-between;
   text-align: center;
   align-items: center;
    margin: 1rem;
   
    
    
}
#checkbox{
    margin-left: 
} 

button{
     width: 92%;
    background: transparent;
    border-radius: 20px;
    padding: 0.5rem; 
}

a{
    text-decoration: none;
    color: #fff;
    transition: all 2s ease-in-out;
}
button:hover{
    color: #3333;
    background-color: #ffff3333;
}


#number{
   width: 10%;
}